.THIS {
    background-color:  #a48464;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.THIS .body{
    background-color:  #d4cdc1;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.THIS .button {
    color: black;
    --sds-c-button-neutral-color-background: white;
    --sds-c-button-neutral-color-background-active: white;
    --sds-c-button-neutral-color-background-hover: white;
}