.THIS {
    font-family: "Comic Sans";
}
#header.THIS {
    /*delete sfsites/c to view in preview)*/
    background-image: url('/sfsites/c/resource/1632150868000/HomePageCoverPic') !important;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: center center;
    width: 100%;
    text-align: center;
    font-size: 500%;
}
#tabsBar.THIS {
    background-color: #d4cdc1;
    text-align: center;
}
.THIS.body {
    background-color: #d4cdc1;
}

.THIS .tabButton {
    font-size: 150%;
    height: 3em;
    color: black;
    --sds-c-button-neutral-color-background: #a48464;
    --sds-c-button-neutral-color-background-active: #a48464;
    --sds-c-button-neutral-color-background-hover: #a48464;
}