.THIS {
}
#header.THIS {
    background-image: url('/resource/1632150868000/HomePageCoverPic');
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: center center;
    width: 100%;
    text-align: center;
    font-size: 350%;
}
#tabsBar.THIS {
    background-color: #5B1C08;
    text-align: center;
}
.THIS.body {
    background-color: #5B1C08;
}