.THIS {
    background: #d4cdc1;
    color: #523A28;
    padding: 1rem;
    text-align: 'center';
}

.THIS h1{
    font-weight: 'bold';
}

.THIS div {
    padding: 1rem;
}

.THIS .inner{
    border-radius: 1rem;
    background-color: #d4cdc1;
    text-align: 'center';
    margin: 1rem;
}

.THIS .outer{
    border-radius: 1.5rem;
    background-color: #a48464;
    padding: 1rem;
}

.THIS .searchInput{
    color: black;
}

.THIS input[type=search] {
    margin: -0.5rem;
}

.THIS .slds-form-element__label{
    color: #523A28;
}

.THIS .slds-input{
    color: black;
}