.THIS {
    background-color: #D0BD8D;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.THIS .body {
    background-color: #5B1C08;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}