.THIS .inner{
    border-radius: 1rem;
    background-color: #d4cdc1;
    text-align: center;
    color: black;
}

.THIS .outer{
    border-radius: 10rem;
    background-color: #a48464;
    padding: 1rem;
}

.THIS h2{
    font-weight: bold;
}

.THIS .slds-form-element__label{
    color: black;
}

.THIS .slds-input{
    color: black;
}