.THIS .inner{
    border-radius: 1rem;
    background-color: #C38370;
    text-align: center;
    color: #523A28;
}

.THIS .outer{
    border-radius: 10rem;
    background-color: #D0BD8D;
    padding: 1rem;
}

.THIS h2{
    font-weight: bold;
}

.THIS .slds-form-element__label{
    color: #523A28;
}

.THIS .slds-input{
    color: black;
}