.THIS {
    /*background-color: #D0BD8D;*/
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
canvas.THIS {
    /*width: 1000px !important;*/
    display: none;
}
iteration.THIS {
    
}