.THIS {
    background: #d4cdc1;
    color: black;
    padding: 10px;
    --sds-c-card-color-background: #d4cdc1;
    --sds-c-card-text-color: black; 
    --sds-c-card-color-border: #d4cdc1; 
    --sds-c-card-radius-border: 10px;
    --sds-c-card-sizing-border: 30px;
    --sds-c-card-content-radius-border: 10px;
}

.THIS h1{
    font-weight: bold;
}

.THIS .inner{
    border-radius: 10px;
    background-color: #d4cdc1;
    text-align: center;
}

.THIS .outer{
    border-radius: 10px;
    background-color: #a48464;
    padding: 1rem;
}

.THIS div {
    padding: 10px;
}

.THIS p {
    padding: 5px;
}