.THIS body 
{
    margin: 0;
}

.THIS.BackgoundColor
{
    background-color: #d4cdc1;
}

/* Style the header */
.THIS.header 
{
    background-color: #a48464;
    padding: 20px;
    text-align: center;
}

.THIS h1
{
    font-size: 50px;
    color: #523A28;
}

.THIS slds-col slds-size_1-of-4
{
    height: 35em;
    background-color: #d4cdc1;
}

.THIS .ProductItem
{
    width: 33%;
    background-color: #d4cdc1;
    height: 35em;
}

.THIS .Description
{
    background-color: #d4cdc1;
    height: 70em;
}

.THIS .DescriptWrap
{
    background-color: #a48464;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.THIS h2
{
    font-size: 30px;
    text-align: center;
    color: #523A28;
}

.THIS p
{
    width: 75%;
    margin-left: 10%;
    color: #523A28;
    font-size: 15px;
}

.THIS img
{
    width: 30em;
    height: 30em;
    border-radius: 20px;
}

.THIS .productBG_Color
{
    background-color: #a48464;    
    position: sticky;
    border-radius: 20px;
    margin-top: -390px;
    margin-left: 20px;
    font-size: 15px;
}

.THIS .PS
{
    font-size: 25px;
}