.THIS {
    background-color: #a48464;
    /*color: #FFFFFF;*/
    height: 150px;
    border-radius: 20px;
    padding:20px;
    text-align: right;
}

.THIS .body{
    background-color: #d4cdc1;
    /*color: #FFFFFF;*/
    font-size: 35%;
    height: 110px;
    border-radius: 20px;
    padding:20px;
    text-align: right;
}